/* components/About.module.css */

.aboutSection {
  background-color: white;
  color: black;
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  background-color: white;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
}

.description {
  max-width: 700px;
  background-color: white;
  color: #b3b3b3;
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 1rem;
}

#aboutus {
  background-color: white;
}

/* Responsive Styles for Mobile and Tablet */
@media screen and (max-width: 768px) {
  .aboutSection {
      padding: 3rem 1rem; /* Adjust padding for smaller screens */
  }

  .title {
      font-size: 2.5rem; /* Adjust font size of title for tablets and mobile */
  }

  .description {
      font-size: 1rem; /* Adjust description font size for mobile */
      max-width: 90%; /* Limit max width of description to avoid stretching */
  }
}

/* Further adjustment for very small screens */
@media screen and (max-width: 480px) {
  .title {
      font-size: 2rem; /* Make title slightly smaller for very small screens */
  }

  .description {
      font-size: 0.95rem; /* Slightly reduce font size for small mobile screens */
  }
}
