.Footer {
  background-color: white;
  color: #09090b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  box-sizing: border-box;
  position: relative; /* Removed fixed positioning */
}

.left {
  color: #6b7250;
  font-size: 0.875rem;
}

.right {
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
}

.right a {
  color: #09090b;
  text-decoration: none;
  font-weight: 500;
}

.right a:hover {
  text-decoration: underline;
}
