.footerContainer {
  width: 100%; /* Changed to full width */
  height: 479px;
  padding: 50px;
  background-color: rgb(5, 1, 26); /* Matching background */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footerContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #FFFFFF;
  padding-top: 20px;
}

.contactSection {
  flex: 1;
  color: white;
}

.footerHeading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.footerItem {
  font-size: 1rem;
  line-height: 1.8;
  color: white;
}

.icon {
  margin-right: 10px;
}

.linksSection {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.column {
  color: white;
}

.footerLink {
  font-size: 1rem;
  line-height: 2;
  color: white;
  cursor: pointer;
}
